<h1>{{category.cName}}</h1>
{% for i in items %}
<span>
	<h2>{{ i.name }}</h2>
	<h1>{{i.categories_id}}</h1>
</span>
<span class="float">{{i.price}}</span>
<p>{{i.description}}</p>
<p>{{i.seller_name}}</p>
<p>{{i.seller_phoneno}}</p>
<p>{{i.seller_address}}</p>
<p>
	<img src="{{ i.image }}" height="200" width="150">
</p>
<p>
	<a href="/Shop/categories/{{category.id}}/item/{{i.id}}/edit/">Edit</a>
</p>
<p>
	<a href="/Shop/categories/{{category.id}}/item/{{i.id}}/delete/">Delete</a>
</p>
{% endfor %}